@media only screen and (max-width: 768px){
    .transperantcard{
        position: absolute;
        height: 80%;
        width: 40%;
        top: 10%;
    }
    .transperantcard .message-input {
        height: 100px;
    }
    #name{
        position: relative;
        left: 5%;
        width: 33vw;
    }    
    .transperantcard input,
    .transperantcard textarea {
        font-size: 2.09375vw;
    }
    .transperantcard input[type="submit"] {
        font-size: 2.09375vw;
        width: 40%;
        top: 93%;
        left: 12%;
        padding: 0px;
        position: absolute;
        height: 14%;
    }

    }
@media only screen and (max-width: 426px){
    .transperantcard{
        position: absolute;
        height: 70%;
        width: 60%;
        top: 15%;
        left: 20%;
    }
    .transperantcard p{
        font-size: 3.5vw;
    }
    .transperantcard input,
    .transperantcard textarea{
    font-size: 3.5vw;
    height: 3em;
    }
    #name{
        position: relative;
        left: 5%;
        width: 50vw;
    }
    #email{
        position: relative;
    }
    .transperantcard .message-input {
        height: 80px;
    }
}
@media only screen and (max-width: 374px){
    .transperantcard input[type="submit"]{
        font-size: 3vw;
    }
    .transperantcard .message-input {
        height: 80px;
    }
}
@media only screen and (max-width: 320px){

}